*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 680px) {
  #root{
    padding: 0.5rem;
  }
}

@media screen and (min-width: 680px) and (max-width: 900px) {
  #root{
    padding: 1rem;
  }
}

.date-input{
  margin: 10px 0 10px 0;
  height: 25px;
  background-color: darkslategray;
  border-radius: 5px;
  color: white
}

.type-select{
  height: 25px;
  padding-left: 4px;
  background-color: darkslategray;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  color: white

}

.title{
  text-shadow: 0px 5px 10px darkslategray;
  border-bottom: 1px solid rgba(47, 79, 79, 0.5);
  margin: 20px 15% 20px 15%;
}